.div1.fly-birds-page_a2ed3bfa14 {
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0 auto;
}
.div1.fly-birds-page_a2ed3bfa14,
.div1.fly-birds-page_a2ed3bfa14 .div2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 22.5rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div2 {
  align-items: center;
  height: 36.145833rem;
  z-index: 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div2 .image3 {
  height: 36.145833rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_a2ed3bfa14 .div2 .div4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: -0.145833rem;
  margin-top: -31.9375rem;
  width: 18.8125rem;
  z-index: 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div2 .div4 .div5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 1.5625rem;
  width: 18.8125rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div2 .div4 .div5 .split_text291 {
  color: #000;
  font-size: 2.083333rem;
  line-height: 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div2 .div4 .div6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.25rem;
  margin-top: 0.833333rem;
  min-height: 1.208333rem;
  width: 10.520833rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div2 .div4 .div6 .split_text286 {
  color: #000;
  font-size: 1.25rem;
  letter-spacing: -1px;
  line-height: 1.5rem;
  text-align: center;
  width: 20.458333rem;
}
.hairlines .div1.fly-birds-page_a2ed3bfa14 .div2 .div4 .div6 .split_text286 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 62.5625rem;
  justify-content: flex-start;
  padding-bottom: 2.4375rem;
  width: 22.5rem;
  z-index: 2;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .image10 {
  height: 62.5625rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div11 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: -0.041667rem;
  margin-top: -58.291667rem;
  min-height: 10.1875rem;
  width: 20.416667rem;
  z-index: 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div11 .image12 {
  height: 10.1875rem;
  width: 20.416667rem;
  z-index: 0;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div11 .div13 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -18.6875rem;
  margin-top: 1.9375rem;
  min-height: 1.625rem;
  width: 4.291667rem;
  z-index: 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div11 .div13 .split_text294 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.916667rem;
  opacity: 0.6;
  text-align: left;
  width: 5.895833rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div11 .div14 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -4.270833rem;
  margin-top: -2.3125rem;
  min-height: 1.166667rem;
  width: 3.791667rem;
  z-index: 2;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div11 .div14 .split_text295 {
  color: #000;
  font-size: 1.666667rem;
  line-height: 0.791667rem;
  text-align: left;
  width: 5.895833rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div15 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -11.25rem;
  margin-top: 1.020833rem;
  min-height: 10.645833rem;
  width: 9.166667rem;
  z-index: 3;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div15 .image16 {
  height: 10.645833rem;
  width: 9.166667rem;
  z-index: 0;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div15 .div17 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -9.75rem;
    min-height: 2.375rem;
    z-index: 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div15 .div17 .split_text297 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.833333rem;
  text-align: center;
  width: 8rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div18 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10.208333rem;
  margin-top: -10.625rem;
  min-height: 10.625rem;
  width: 10.208333rem;
  z-index: 2;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div18 .image19 {
  height: 10.625rem;
  width: 10.208333rem;
  z-index: 0;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div18 .div20 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: -9.4375rem;
  min-height: 2.708333rem;

  z-index: 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div18 .div20 .split_text296 {
  color: #000;
  font-size: 0.833333rem;
  line-height: 0.958333rem;
  text-align: center;
  width: 7.541667rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div21 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1.020833rem;
  min-height: 10.1875rem;
  padding-bottom: 1.166667rem;
  width: 20.416667rem;
  z-index: 6;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div21 .image22 {
  height: 10.1875rem;
  width: 20.416667rem;
  z-index: 0;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div21 .div23 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3.791667rem;
  margin-top: -9.020833rem;
  min-height: 1.354167rem;
  width: 5.041667rem;
  z-index: 2;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div21 .div23 .split_text301 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.833333rem;
  opacity: 0.6;
  text-align: left;
  width: 5.333333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div21 .div24 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -5.791667rem;
  margin-top: -1.25rem;
  min-height: 1.1875rem;
  width: 2.666667rem;
  z-index: 3;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div21 .div24 .split_text302 {
  color: #000;
  font-size: 1.666667rem;
  line-height: 0.791667rem;
  text-align: right;
  width: 5.333333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div21 .image25 {
  height: 5.0625rem;
  margin-left: -0.041667rem;
  margin-top: 1.5rem;
  width: 14.291667rem;
  z-index: 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div26 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -10.208333rem;
  margin-top: 1.020833rem;
  min-height: 10.625rem;
  width: 10.208333rem;
  z-index: 4;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div26 .image27 {
  height: 10.625rem;
  width: 10.208333rem;
  z-index: 0;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div26 .div28 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1.208333rem;
  margin-top: -9.291667rem;
  min-height: 3.458333rem;
  width: 3.875rem;
  z-index: 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div26 .div28 .split_text298 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.916667rem;
  text-align: left;
  width: 4.25rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div29 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 11.25rem;
  margin-top: -10.625rem;
  min-height: 10.645833rem;
  width: 9.166667rem;
  z-index: 5;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div29 .image30 {
  height: 10.645833rem;
  width: 9.166667rem;
  z-index: 0;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div29 .div31 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -9.291667rem;
  min-height: 0.520833rem;
  z-index: 2;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div29 .div31 .split_text300 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.958333rem;
  text-align: center;
  width: 6.145833rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div29 .div32 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.270833rem;
  margin-top: 0.520833rem;
  width: 5.645833rem;
  z-index: 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div29 .div32 .split_text299 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.625rem;
  opacity: 0.6;
  text-align: center;
  width: 6.145833rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div33 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.9375rem;
  min-height: 10.1875rem;
  width: 20.416667rem;
  z-index: 7;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div33 .image34 {
  height: 10.1875rem;
  width: 20.416667rem;
  z-index: 0;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div33 .div35 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8.645833rem;
  margin-top: -8.708333rem;
  min-height: 1.541667rem;
  width: 8.145833rem;
  z-index: 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div33 .div35 .split_text303 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.833333rem;
  opacity: 0.6;
  text-align: left;
  width: 8.5625rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div33 .div36 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -5.02083rem;
  margin-top: -1.41667rem;
  min-height: 1.1875rem;
  width: 3.5625rem;
  z-index: 2;
}
.div1.fly-birds-page_a2ed3bfa14 .div9 .div33 .div36 .split_text304 {
  color: #000;
  font-size: 1.666667rem;
  line-height: 0.791667rem;
  text-align: left;
  width: 6.854167rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div37 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 44.854167rem;
  justify-content: flex-start;
  padding-bottom: 20.979167rem;
  width: 22.5rem;
  z-index: 3;
}
.div1.fly-birds-page_a2ed3bfa14 .div37 .image38 {
  height: 44.854167rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_a2ed3bfa14 .div37 .div39 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.0625rem;
  margin-top: -42.333333rem;
  min-height: 21.354167rem;
  width: 19.8125rem;
  z-index: 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div37 .div39 .div40 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.125rem;
  min-height: 1.291667rem;
  width: 18.145833rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div37 .div39 .div40 .split_text310 {
  color: #000;
  font-size: 1.333333rem;
  letter-spacing: -1px;
  line-height: 1.5rem;
  text-align: center;
  width: 21rem;
  margin-bottom: 3rem;
}
.hairlines .div1.fly-birds-page_a2ed3bfa14 .div37 .div39 .div40 .split_text310 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_a2ed3bfa14 .div37 .div39 .div41 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.083333rem;
  margin-top: 0.375rem;
  min-height: 1.25rem;
  width: 15.020833rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div37 .div39 .div41 .split_text311 {
  color: #000;
  font-size: 1.333333rem;
  letter-spacing: -1px;
  line-height: 1.5rem;
  text-align: center;
  width: 20.354167rem;
}
.hairlines .div1.fly-birds-page_a2ed3bfa14 .div37 .div39 .div41 .split_text311 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_a2ed3bfa14 .div37 .div39 .div42 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.895833rem;
  min-height: 3.458333rem;
  width: 19.8125rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div37 .div39 .div42 .split_text309 {
  color: #000;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.916667rem;
  text-align: center;
  width: 20.416667rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div37 .div39 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div37 .div39 .div43 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -0.625rem;
  margin-top: 6.958333rem;
  min-height: 2.645833rem;
  width: 13.229167rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div37 .div39 .div43 .div44 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 2.583333rem;
  width: 5.333333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div37 .div39 .div43 .div44 .div45 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 1.25rem;
  width: 5.333333rem;
}
.div1.fly-birds-page_a2ed3bfa14
  .div37
  .div39
  .div43
  .div44
  .div45
  .split_text305 {
  color: #000;
  font-size: 1.708333rem;
  line-height: 1.875rem;
  text-align: center;
  width: 8.958333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div37 .div39 .div43 .div44 .div46 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -1px;
  min-height: 0.708333rem;
  width: 4.020833rem;
}
.hairlines .div1.fly-birds-page_a2ed3bfa14 .div37 .div39 .div43 .div44 .div46 {
  margin-left: -0.5px;
}
.div1.fly-birds-page_a2ed3bfa14
  .div37
  .div39
  .div43
  .div44
  .div46
  .split_text306 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.75rem;
  text-align: center;
  width: 8.958333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div37 .div39 .div43 .image47 {
  height: 2.625rem;
  margin-top: 1px;
  width: 0.0625rem;
}
.hairlines .div1.fly-birds-page_a2ed3bfa14 .div37 .div39 .div43 .image47 {
  margin-top: 0.5px;
}
.div1.fly-birds-page_a2ed3bfa14 .div37 .div39 .div43 .div48 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 2.416667rem;
  width: 2.583333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div37 .div39 .div43 .div48 .div49 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 1.229167rem;
  width: 2.583333rem;
}
.div1.fly-birds-page_a2ed3bfa14
  .div37
  .div39
  .div43
  .div48
  .div49
  .split_text307 {
  color: #000;
  font-size: 1.708333rem;
  line-height: 1.875rem;
  text-align: center;
  width: 6.25rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div37 .div39 .div43 .div48 .div50 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.541667rem;
  width: 0.895833rem;
}
.div1.fly-birds-page_a2ed3bfa14
  .div37
  .div39
  .div43
  .div48
  .div50
  .split_text308 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.75rem;
  text-align: center;
  width: 6.25rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div37 .div39 .div51 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.041667rem;
  margin-top: 2.4375rem;
  min-height: 2.041667rem;
  width: 13.4375rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div37 .div39 .div51 .split_text312 {
  color: #00000080;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.75rem;
  text-align: center;
  width: 14.791667rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div52 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 28.666667rem;
  justify-content: flex-start;
  margin-top: -0.104167rem;
  width: 22.5rem;
  z-index: 4;
}
.div1.fly-birds-page_a2ed3bfa14 .div52 .image53 {
  height: 28.666667rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_a2ed3bfa14 .div52 .div54 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.125rem;
  margin-top: -26.333333rem;
  min-height: 11.020833rem;
  width: 19.708333rem;
  z-index: 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div52 .div54 .div55 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 2.75rem;
  width: 12.625rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div52 .div54 .div55 .split_text318 {
  color: #000;
  font-size: 1.333333rem;
  letter-spacing: -1px;
  line-height: 1.5rem;
  text-align: center;
  width: 14.25rem;
}
.hairlines .div1.fly-birds-page_a2ed3bfa14 .div52 .div54 .div55 .split_text318 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_a2ed3bfa14 .div52 .div54 .div56 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.875rem;
  min-height: 1.625rem;
  width: 19.708333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div52 .div54 .div56 .split_text317 {
  color: #000;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.916667rem;
  text-align: center;
  width: 20.416667rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div52 .div54 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div52 .div54 .div57 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1px;
  margin-top: 3.083333rem;
  min-height: 2.6875rem;
  width: 15.604167rem;
}
.hairlines .div1.fly-birds-page_a2ed3bfa14 .div52 .div54 .div57 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_a2ed3bfa14 .div52 .div54 .div57 .div58 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1px;
  min-height: 2.666667rem;
  width: 4.541667rem;
}
.hairlines .div1.fly-birds-page_a2ed3bfa14 .div52 .div54 .div57 .div58 {
  margin-top: 0.5px;
}
.div1.fly-birds-page_a2ed3bfa14 .div52 .div54 .div57 .div58 .div59 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 4.541667rem;
}
.div1.fly-birds-page_a2ed3bfa14
  .div52
  .div54
  .div57
  .div58
  .div59
  .split_text313 {
  -webkit-text-fill-color: #0000;
  background: linear-gradient(1deg, #93bfcf, #a9d3e5);
  -webkit-background-clip: text;
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #000;
  font-size: 1.708333rem;
  line-height: 1.875rem;
  text-align: center;
  width: 7.291667rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div52 .div54 .div57 .div58 .div60 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.083333rem;
  margin-top: 0.333333rem;
  min-height: 0.729167rem;
  width: 3.708333rem;
}
.div1.fly-birds-page_a2ed3bfa14
  .div52
  .div54
  .div57
  .div58
  .div60
  .split_text314 {
  color: #000;
  font-size: 0.75rem;
  line-height: 1.1875rem;
  text-align: center;
  width: 7.291667rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div52 .div54 .div57 .image61 {
  height: 2.604167rem;
  width: 0.041667rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div52 .div54 .div57 .div62 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1px;
  min-height: 2.666667rem;
  width: 5.791667rem;
}
.hairlines .div1.fly-birds-page_a2ed3bfa14 .div52 .div54 .div57 .div62 {
  margin-top: 0.5px;
}
.div1.fly-birds-page_a2ed3bfa14 .div52 .div54 .div57 .div62 .div63 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 1.229167rem;
  width: 5.791667rem;
}
.div1.fly-birds-page_a2ed3bfa14
  .div52
  .div54
  .div57
  .div62
  .div63
  .split_text315 {
  -webkit-text-fill-color: #0000;
  background: linear-gradient(1deg, #93bfcf, #a9d3e5);
  -webkit-background-clip: text;
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #000;
  font-size: 1.708333rem;
  line-height: 1.875rem;
  text-align: left;
  width: 9.375rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div52 .div54 .div57 .div62 .div64 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.145833rem;
  min-height: 0.729167rem;
  width: 4.729167rem;
}
.div1.fly-birds-page_a2ed3bfa14
  .div52
  .div54
  .div57
  .div62
  .div64
  .split_text316 {
  color: #000;
  font-size: 0.75rem;
  line-height: 1.1875rem;
  text-align: left;
  width: 9.375rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50.708333rem;
  justify-content: flex-start;
  width: 22.5rem;
  z-index: 5;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .image66 {
  height: 50.708333rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div67 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.1875rem;
  margin-top: -46.395833rem;
  min-height: 8.041667rem;
  width: 18.5625rem;
  z-index: 2;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div67 .div68 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.25rem;
  min-height: 1.270833rem;
  width: 11.395833rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div67 .div68 .split_text326 {
  color: #000;
  font-size: 1.333333rem;
  letter-spacing: -1px;
  line-height: 1.5rem;
  text-align: center;
  width: 20.375rem;
}
.hairlines .div1.fly-birds-page_a2ed3bfa14 .div65 .div67 .div68 .split_text326 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div67 .div69 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.354167rem;
  margin-top: 0.395833rem;
  min-height: 2.75rem;
  width: 10.5rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div67 .div69 .split_text327 {
  color: #000;
  font-size: 1.333333rem;
  letter-spacing: -1px;
  line-height: 1.5rem;
  text-align: center;
  width: 12.0625rem;
}
.hairlines .div1.fly-birds-page_a2ed3bfa14 .div65 .div67 .div69 .split_text327 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div67 .div70 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.083333rem;
  min-height: 2.541667rem;
  width: 18.5625rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div67 .div70 .split_text325 {
  color: #000;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.916667rem;
  text-align: center;
  width: 20.3125rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div71 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: -0.208333rem;
  margin-top: 2.708333rem;
  min-height: 7.5rem;
  width: 11.333333rem;
  z-index: 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div71 .div72 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0.166667rem;
  min-height: 2.25rem;
  width: 10.791667rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div71 .div72 .div73 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 2.083333rem;
  width: 2.145833rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div71 .div72 .div73 .image74 {
  height: 0.791667rem;
  margin-left: -0.0625rem;
  width: 0.833333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div71 .div72 .div73 .div75 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.708333rem;
  width: 2.145833rem;
}
.div1.fly-birds-page_a2ed3bfa14
  .div65
  .div71
  .div72
  .div73
  .div75
  .split_text319 {
  color: #000;
  font-size: 0.958333rem;
  letter-spacing: 0;
  line-height: 2rem;
  text-align: left;
  width: 3.583333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div71 .div72 .div76 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 2.25rem;
  width: 2.104167rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div71 .div72 .div76 .image77 {
  height: 0.791667rem;
  margin-left: 1px;
  width: 0.833333rem;
}
.hairlines
  .div1.fly-birds-page_a2ed3bfa14
  .div65
  .div71
  .div72
  .div76
  .image77 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div71 .div72 .div76 .div78 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.875rem;
  width: 2.104167rem;
}
.div1.fly-birds-page_a2ed3bfa14
  .div65
  .div71
  .div72
  .div76
  .div78
  .split_text320 {
  color: #000;
  font-size: 0.958333rem;
  letter-spacing: 0;
  line-height: 2rem;
  text-align: left;
  width: 3.583333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div71 .div72 .div79 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 2.0625rem;
  width: 1.791667rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div71 .div72 .div79 .image80 {
  height: 0.791667rem;
  margin-left: -0.166667rem;
  width: 0.833333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div71 .div72 .div79 .div81 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.6875rem;
  width: 1.791667rem;
}
.div1.fly-birds-page_a2ed3bfa14
  .div65
  .div71
  .div72
  .div79
  .div81
  .split_text321 {
  color: #000;
  font-size: 0.958333rem;
  letter-spacing: 0;
  line-height: 2rem;
  text-align: left;
  width: 3.583333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div71 .div82 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 3.3125rem;
  width: 11.333333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div71 .div82 .div83 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 2.3125rem;
  width: 2.958333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div71 .div82 .div83 .image84 {
  height: 0.8125rem;
  margin-left: -0.166667rem;
  width: 0.833333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div71 .div82 .div83 .div85 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 1.833333rem;
  width: 2.958333rem;
}
.div1.fly-birds-page_a2ed3bfa14
  .div65
  .div71
  .div82
  .div83
  .div85
  .split_text322 {
  color: #000;
  font-size: 0.958333rem;
  letter-spacing: 0;
  line-height: 1.104167rem;
  text-align: center;
  width: 3.583333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div71 .div82 .div86 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 2.166667rem;
  width: 1.791667rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div71 .div82 .div86 .image87 {
  height: 0.8125rem;
  margin-left: -0.041667rem;
  width: 0.833333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div71 .div82 .div86 .div88 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.708333rem;
  width: 1.791667rem;
}
.div1.fly-birds-page_a2ed3bfa14
  .div65
  .div71
  .div82
  .div86
  .div88
  .split_text323 {
  color: #000;
  font-size: 0.958333rem;
  letter-spacing: 0;
  line-height: 2rem;
  text-align: left;
  width: 3.583333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div71 .div82 .div89 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 2.166667rem;
  width: 2.208333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div71 .div82 .div89 .image90 {
  height: 0.8125rem;
  margin-left: -0.125rem;
  width: 0.833333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div65 .div71 .div82 .div89 .div91 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.708333rem;
  width: 2.208333rem;
}
.div1.fly-birds-page_a2ed3bfa14
  .div65
  .div71
  .div82
  .div89
  .div91
  .split_text324 {
  color: #000;
  font-size: 0.958333rem;
  letter-spacing: 0;
  line-height: 2rem;
  text-align: left;
  width: 3.583333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div92 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 27.854167rem;
  justify-content: flex-start;
  width: 22.5rem;
  z-index: 6;
}
.div1.fly-birds-page_a2ed3bfa14 .div92 .image93 {
  height: 27.854167rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_a2ed3bfa14 .div92 .div94 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: -0.0625rem;
  margin-top: -23.4375rem;
  width: 19.479167rem;
  z-index: 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div92 .div94 .div95 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.208333rem;
  min-height: 1.708333rem;
  width: 16.354167rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div92 .div94 .div95 .split_text330 {
  -webkit-text-fill-color: #0000;
  background: linear-gradient(94deg, #5f8999, #0b1113);
  -webkit-background-clip: text;
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #000;
  font-size: 2.291667rem;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  width: 20.395833rem;
}
.hairlines .div1.fly-birds-page_a2ed3bfa14 .div92 .div94 .div95 .split_text330 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_a2ed3bfa14 .div92 .div94 .div96 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.208333rem;
  min-height: 1.270833rem;
  width: 19.479167rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div92 .div94 .div96 .split_text329 {
  color: #000;
  font-size: 1.333333rem;
  letter-spacing: -1px;
  line-height: 1.5rem;
  text-align: center;
  width: 20.395833rem;
}
.hairlines .div1.fly-birds-page_a2ed3bfa14 .div92 .div94 .div96 .split_text329 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_a2ed3bfa14 .div92 .div94 .div97 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.125rem;
  margin-top: 0.625rem;
  width: 16.604167rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div92 .div94 .div97 .split_text328 {
  color: #000;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.916667rem;
  text-align: center;
  width: 20.333333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div98 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 37.8125rem;
  justify-content: flex-start;
  width: 22.5rem;
  z-index: 7;
}
.div1.fly-birds-page_a2ed3bfa14 .div98 .image99 {
  height: 37.8125rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_a2ed3bfa14 .div98 .div100 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.041667rem;
  margin-top: -35.291667rem;
  min-height: 4.375rem;
  width: 20.291667rem;
  z-index: 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div98 .div100 .div101 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  min-height: 1rem;
  width: 10.6875rem;
}
.hairlines .div1.fly-birds-page_a2ed3bfa14 .div98 .div100 .div101 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_a2ed3bfa14 .div98 .div100 .div101 .split_text332 {
  color: #000;
  font-size: 1.333333rem;
  letter-spacing: -1px;
  line-height: 1.5rem;
  text-align: center;
  width: 20.520833rem;
}
.hairlines
  .div1.fly-birds-page_a2ed3bfa14
  .div98
  .div100
  .div101
  .split_text332 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_a2ed3bfa14 .div98 .div100 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div98 .div100 .div102 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.833333rem;
  min-height: 2.541667rem;
  width: 20.291667rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div98 .div100 .div102 .split_text331 {
  color: #000;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.916667rem;
  text-align: center;
  width: 20.583333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div103 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 33.333333rem;
  justify-content: flex-start;
  width: 22.5rem;
  z-index: 8;
}
.div1.fly-birds-page_a2ed3bfa14 .div103 .image104 {
  height: 33.333333rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_a2ed3bfa14 .div103 .div105 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -0.041667rem;
  margin-top: -29.020833rem;
  min-height: 4.916667rem;
  width: 19.791667rem;
  z-index: 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div103 .div105 .div106 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.208333rem;
  min-height: 2.479167rem;
  width: 13.083333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div103 .div105 .div106 .split_text334 {
  color: #000;
  font-size: 1.333333rem;
  letter-spacing: -1px;
  line-height: 1.5rem;
  text-align: center;
  width: 13.875rem;
}
.hairlines
  .div1.fly-birds-page_a2ed3bfa14
  .div103
  .div105
  .div106
  .split_text334 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_a2ed3bfa14 .div103 .div105 .div107 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.8125rem;
  min-height: 1.625rem;
  width: 19.791667rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div103 .div105 .div107 .split_text333 {
  color: #000;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.916667rem;
  text-align: center;
  width: 20.333333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div108 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 107.1875rem;
  justify-content: flex-start;
  margin-top: -0.125rem;
  padding-bottom: 4.5rem;
  width: 22.5rem;
  z-index: 9;
}
.div1.fly-birds-page_a2ed3bfa14 .div108 .image109 {
  height: 107.1875rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_a2ed3bfa14 .div108 .div110 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -103rem;
  min-height: 28.791667rem;
  width: 20.416667rem;
  z-index: 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div108 .div110 .div111 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.0625rem;
  min-height: 2.479167rem;
  width: 8.145833rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div108 .div110 .div111 .split_text336 {
  color: #000;
  font-size: 1.333333rem;
  letter-spacing: -1px;
  line-height: 1.5rem;
  text-align: center;
  width: 18rem;
  margin-bottom: 1rem;
}
.hairlines
  .div1.fly-birds-page_a2ed3bfa14
  .div108
  .div110
  .div111
  .split_text336 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_a2ed3bfa14 .div108 .div110 .div112 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  margin-top: 0.916667rem;
  min-height: 2.375rem;
  width: 17.145833rem;
}
.hairlines .div1.fly-birds-page_a2ed3bfa14 .div108 .div110 .div112 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_a2ed3bfa14 .div108 .div110 .div112 .split_text335 {
  color: #000;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.916667rem;
  text-align: center;
  width: 18.333333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div108 .div110 .image113 {
  height: 19.291667rem;
  margin-top: 3.729167rem;
  width: 20.416667rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div108 .div114 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 4.833333rem;
  min-height: 31.541667rem;
  width: 20.416667rem;
  z-index: 2;
}
.div1.fly-birds-page_a2ed3bfa14 .div108 .div114 .div115 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.083333rem;
  min-height: 2.479167rem;
  width: 8.791667rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div108 .div114 .div115 .split_text338 {
  color: #000;
  font-size: 1.333333rem;
  letter-spacing: -1px;
  line-height: 1.5rem;
  text-align: center;
  width: 14.041667rem;
}
.hairlines
  .div1.fly-birds-page_a2ed3bfa14
  .div108
  .div114
  .div115
  .split_text338 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_a2ed3bfa14 .div108 .div114 .div116 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.916667rem;
  min-height: 2.375rem;
  width: 16.125rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div108 .div114 .div116 .split_text337 {
  color: #000;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.916667rem;
  text-align: center;
  width: 17.916667rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div108 .div114 .image117 {
  height: 22.3125rem;
  margin-top: 3.458333rem;
  width: 20.416667rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div108 .div118 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 4.770833rem;
  min-height: 28.5625rem;
  width: 20.416667rem;
  z-index: 3;
}
.div1.fly-birds-page_a2ed3bfa14 .div108 .div118 .div119 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.104167rem;
  min-height: 2.770833rem;
  width: 7.645833rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div108 .div118 .div119 .split_text340 {
  color: #000;
  font-size: 1.333333rem;
  letter-spacing: -1px;
  line-height: 1.5rem;
  text-align: center;
  width: 12.5rem;
}
.hairlines
  .div1.fly-birds-page_a2ed3bfa14
  .div108
  .div118
  .div119
  .split_text340 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_a2ed3bfa14 .div108 .div118 .div120 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.104167rem;
  margin-top: 0.75rem;
  min-height: 2.541667rem;
  width: 16.229167rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div108 .div118 .div120 .split_text339 {
  color: #000;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.916667rem;
  text-align: center;
  width: 18.75rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div108 .div118 .image121 {
  height: 19.291667rem;
  margin-top: 3.208333rem;
  width: 20.416667rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div122 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 38.875rem;
  justify-content: flex-start;
  margin-top: -0.0625rem;
  width: 22.5rem;
  z-index: 10;
}
.div1.fly-birds-page_a2ed3bfa14 .div122 .image123 {
  height: 38.875rem;
  width: 22.5rem;
  z-index: 0;
}
.div1.fly-birds-page_a2ed3bfa14 .div122 .div124 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1px;
  margin-top: -34.604167rem;
  min-height: 10.104167rem;
  width: 15.729167rem;
  z-index: 1;
}
.hairlines .div1.fly-birds-page_a2ed3bfa14 .div122 .div124 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_a2ed3bfa14 .div122 .div124 .div125 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 4.770833rem;
  width: 15.729167rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div122 .div124 .div125 .split_text347 {
  color: #000;
  font-size: 1.5rem;
  line-height: 1.666667rem;
  text-align: center;
  width: 17.083333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div122 .div124 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div122 .div124 .div126 {
  align-items: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: -0.354167rem;
  min-height: 1.5625rem;
  width: 9.958333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div122 .div124 .div126 .div127 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div1.fly-birds-page_a2ed3bfa14 .div122 .div124 .div126 .div127 .split_text346 {
  color: #000;
  font-size: 1.875rem;
  line-height: 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div122 .div124 .div126 .div128 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.4375rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div122 .div124 .div126 .div128 .split_text345 {
  color: #000;
  font-size: 0.833333rem;
  line-height: 1.2;
}
.div1.fly-birds-page_a2ed3bfa14 .div122 .div124 .div126 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div122 .div124 .div126 .div129 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div1.fly-birds-page_a2ed3bfa14 .div122 .div124 .div126 .div129 .split_text343 {
  color: #000;
  font-size: 1.875rem;
  line-height: 1;
}
.div1.fly-birds-page_a2ed3bfa14 .div122 .div124 .div126 .div130 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.458333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div122 .div124 .div126 .div130 .split_text342 {
  color: #000;
  font-size: 0.833333rem;
  line-height: 1.2;
}
.div1.fly-birds-page_a2ed3bfa14 .div122 .div124 .div131 {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.4375rem;
  min-height: 0.708333rem;
  width: 10.083333rem;
}
.div1.fly-birds-page_a2ed3bfa14 .div122 .div124 .div131 .div132 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div1.fly-birds-page_a2ed3bfa14 .div122 .div124 .div131 .div132 .split_text344 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.75rem;
  opacity: 0.6;
  text-align: center;
}
.div1.fly-birds-page_a2ed3bfa14 .div122 .div124 .div131 .div133 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div1.fly-birds-page_a2ed3bfa14 .div122 .div124 .div131 .div133 .split_text341 {
  color: #000;
  font-size: 0.75rem;
  line-height: 0.75rem;
  opacity: 0.6;
  text-align: center;
}
.div1.fly-birds-page_a2ed3bfa14 .div134 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 4.166667rem 0 6.104167rem;
  width: 22.5rem;
  z-index: 11;
}
.div1.fly-birds-page_a2ed3bfa14 .div134 .split_text348 {
  color: #656565;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 0.833333rem;
  width: 18.75rem;
}
.specs-con {
  background-color: #fff;
}
.mi-modal.mi-modal--desktop .mi-modal__content.notify-pc-modal {
  min-width: 560px;
  width: 850px;
}
.notify-m-modal__title,
.notify-pc-modal__title {
  border-bottom: 1px solid var(--border-light-variant);
  color: var(--title-base);
  font-size: 28px;
  font-weight: 400;
  height: 80px;
  line-height: 80px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
.notify-m-modal__content,
.notify-pc-modal__content {
  box-sizing: border-box;
  padding: 30px 0;
}
.notify-m-modal__content .notify-modal__icon,
.notify-pc-modal__content .notify-modal__icon {
  display: flex;
  height: 100px;
  justify-content: center;
  margin-bottom: 15px;
}
.notify-m-modal__content .notify-modal__icon .xiaomi,
.notify-pc-modal__content .notify-modal__icon .xiaomi {
  color: #83c44e;
  font-size: 85px;
  line-height: 1;
}
.notify-m-modal__content .notify-modal__subtitle,
.notify-pc-modal__content .notify-modal__subtitle {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
.notify-m-modal__content .notify-modal__detail,
.notify-pc-modal__content .notify-modal__detail {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 475px;
}
.notify-m-modal__content .notify-modal__detail a,
.notify-pc-modal__content .notify-modal__detail a {
  color: #ff6700;
  text-decoration: underline;
}
.notify-m-modal__actions,
.notify-pc-modal__actions {
  align-items: center;
  border-top: 1px solid var(--border-light-variant);
  display: flex;
  height: 80px;
  justify-content: center;
}
.notify-m-modal__actions .notify-modal__button,
.notify-pc-modal__actions .notify-modal__button {
  align-items: center;
  background-color: var(--background-primary);
  border: 0;
  box-sizing: border-box;
  color: var(--link-light-variant);
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  line-height: 40px;
  padding: 0 40px;
  -webkit-user-select: none;
  user-select: none;
}
.mi-modal.mi-modal--mobile .notify-m-modal .mi-modal__title--center {
  font-size: 18px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: left;
}
.mi-modal.mi-modal--mobile .notify-m-modal .mi-modal__title-wrap {
  height: auto;
}
.mi-modal.mi-modal--mobile .notify-m-modal__content {
  padding-left: 10px;
  padding-right: 10px;
}
.mi-modal.mi-modal--mobile .notify-m-modal__content .notify-modal__icon {
  display: none;
}
.mi-modal.mi-modal--mobile .notify-m-modal__content .notify-modal__subtitle {
  font-size: 16px;
  text-align: left;
}
.mi-modal.mi-modal--mobile .notify-m-modal__content .notify-modal__detail {
  text-align: left;
  width: 100%;
}
.mi-modal.mi-modal--mobile .notify-m-modal__actions {
  display: none;
}
.buy-container {
  background-color: #fafafa;
  transition: height 0.5s ease;
  width: 100%;
}
.buy-container::-webkit-scrollbar {
  display: none;
}
.buy-container .product__main {
  border-top: none !important;
}
html {
  margin: 0 auto;
}
body,
html {
  height: 100%;
}
body {
  background-color: #f5f5f5;
}
body,
html,
li,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
:root {
  --skeleton-color: #eee;
}
body > img,
head > img,
html > img {
  display: none;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
}
.xm-link {
  display: inline-block;
  text-decoration: none;
}
.xm-link.xm-button {
  background-color: initial;
}
.xm-button {
  background-color: #ff6700;
  color: #fff;
  padding: 0.25rem;
}
.xm-text {
  display: inline-block;
  white-space: break-spaces !important;
}
.xm-blur {
  opacity: 0.3 !important;
}
.hide {
  display: none !important;
}
.xm-page-hide {
  height: 0;
  position: absolute;
}
.xm-update {
  position: relative;
}
.xm-update:after {
  border: 0.041667rem solid #ff0;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.xm-picture .xm-img {
  width: 100%;
}
.xm-img {
  color: #0000;
}
.xm-img:not([src]),
.xm-img[src=""] {
  visibility: hidden;
}
.xm-picture {
  display: inline-flex;
}
.eg .xm-text,
.gcc .xm-text,
.sa .xm-text {
  display: block;
}
.eg .footer.footer--desktop,
.eg .header.header--desktop,
.eg .xm-button,
.eg .xm-navbar,
.eg .xm-price,
.eg .xm-text,
.gcc .footer.footer--desktop,
.gcc .header.header--desktop,
.gcc .xm-button,
.gcc .xm-navbar,
.gcc .xm-price,
.gcc .xm-text,
.sa .footer.footer--desktop,
.sa .header.header--desktop,
.sa .xm-button,
.sa .xm-navbar,
.sa .xm-price,
.sa .xm-text {
  direction: rtl;
}
.eg .header.header--desktop .site-logo .site-logo__wrapper img,
.gcc .header.header--desktop .site-logo .site-logo__wrapper img,
.sa .header.header--desktop .site-logo .site-logo__wrapper img {
  transform: none;
}
.eg .header.header--desktop .entry__item:before,
.gcc .header.header--desktop .entry__item:before,
.sa .header.header--desktop .entry__item:before {
  right: 0;
}
.eg .header.header--desktop .entry__left .entry__item:first-child,
.gcc .header.header--desktop .entry__left .entry__item:first-child,
.sa .header.header--desktop .entry__left .entry__item:first-child {
  padding-left: 20px;
}
.eg .footer.footer--desktop .footer-bottom .copyright,
.gcc .footer.footer--desktop .footer-bottom .copyright,
.sa .footer.footer--desktop .footer-bottom .copyright {
  float: right;
}
.section {
  background-repeat: no-repeat;
  margin-bottom: -1px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
a:focus {
  outline: thin dotted #333;
  outline: 0.104167rem auto -webkit-focus-ring-color;
  outline-offset: -0.041667rem;
}
a:active,
a:hover {
  outline: 0;
}
b,
strong {
  font-weight: 700;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: initial;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  height: auto;
  vertical-align: middle;
}
form {
  margin: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  outline: none;
  vertical-align: initial;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: none;
  appearance: none;
  box-sizing: initial;
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input::-webkit-input-placeholder {
  color: #ccc;
}
input:-moz-placeholder,
input::-moz-placeholder {
  color: #ccc;
}
input:-ms-input-placeholder {
  color: #ccc;
}
textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
td,
th {
  padding: 0;
}
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
menu,
ol,
p,
ul {
  margin: 0;
}
menu,
ol,
ul {
  list-style: none;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
.eco_name-72 {
  font-size: 1.5rem;
  line-height: 1.875rem;
}
.eco_name-64 {
  font-size: 1.333333rem;
  line-height: 1.666667rem;
}
.eco_kv-slogan {
  font-size: 1rem;
  line-height: 1.25rem;
}
.eco_kv-ksp {
  font-size: 0.625rem;
  line-height: 0.916667rem;
}
.eco_kv-label {
  border-radius: 0.083333rem;
  font-size: 0.75rem;
  line-height: 1.083333rem;
}
.eco_ksp-title {
  font-size: 0.833333rem;
  line-height: 1rem;
}
.eco_ksp-text {
  font-size: 0.75rem;
  line-height: 1rem;
}
.eco_ksp-item {
  padding: 1.041667rem;
}
.eco_title {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.eco_note,
.eco_text {
  font-size: 0.75rem;
  line-height: 0.916667rem;
}
.eco_number {
  font-size: 2.291667rem;
  line-height: 2.291667rem;
}
.eco_note-text {
  font-size: 0.75rem;
  line-height: 0.916667rem;
}
.eco_specs-title {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.eco_specs-label,
.eco_specs-value {
  font-size: 0.75rem;
  line-height: 0.916667rem;
}
.f-thin {
  font-weight: 100;
}
.f-extra {
  font-weight: 200;
}
.f-light {
  font-weight: 300;
}
.f-regular {
  font-weight: 400;
}
.f-medium {
  font-weight: 500;
}
.f-semi {
  font-weight: 600;
}
.f-bold {
  font-weight: 700;
}
.f-bolder {
  font-weight: 800;
}
.f-heavy {
  font-weight: 900;
}
.xm-button,
.xm-navbar__nav-item,
.xm-price {
  font-weight: 400 !important;
}
.price-common {
  font-weight: 300 !important;
}
.price-common .xm-price--current .xm-price__label,
.price-common .xm-price__sNum {
  font-weight: 700 !important;
}
@font-face {
  font-family: CamphorPro-Light;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Light.woff)
    format("woff");
}
@font-face {
  font-family: CamphorPro-Regular;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Regular.woff)
    format("woff");
}
@font-face {
  font-family: CamphorPro-Bold;
  font-weight: 700;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Bold.woff)
    format("woff");
}
@font-face {
  font-family: CamphorPro-Thin;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Thin.woff)
    format("woff");
}
@font-face {
  font-family: CamphorPro-Heavy;
  font-weight: 900;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Heavy.woff)
    format("woff");
}
@font-face {
  font-family: CamphorPro-Medium;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Medium.woff)
    format("woff");
}
@font-face {
  font-family: CamphorProForXiaoMi-Light;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Light.woff)
    format("woff");
}
@font-face {
  font-family: CamphorProForXiaoMi-Regular;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Regular.woff)
    format("woff");
}
@font-face {
  font-family: CamphorProForXiaoMi-Bold;
  font-weight: 700;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Bold.woff)
    format("woff");
}
@font-face {
  font-family: CamphorProForXiaoMi-Thin;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Thin.woff)
    format("woff");
}
@font-face {
  font-family: CamphorProForXiaoMi-Heavy;
  font-weight: 900;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Heavy.woff)
    format("woff");
}
@font-face {
  font-family: CamphorProForXiaoMi-Medium;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Medium.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-Light;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Light.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-ExtraLight;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-ExtraLight.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-Regular;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Regular.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-Bold;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Bold.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-Book;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Book.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-SemiBold;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-SemiBold.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-Hairline;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Hairline.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-Medium;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Medium.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-cool-Light;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Light.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-cool-ExtraLight;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-ExtraLight.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-cool-Regular;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Regular.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-cool-Bold;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Bold.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-cool-Book;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Book.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-cool-SemiBold;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-SemiBold.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-cool-Hairline;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Hairline.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-cool-Medium;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Medium.woff)
    format("woff");
}
.poco .f-light {
  font-family: POCOTech-Light, sans-serif;
}
.poco .f-extra {
  font-family: POCOTech-ExtraLight, sans-serif;
}
.poco .f-regular {
  font-family: POCOTech-Regular, sans-serif;
}
.poco .f-bold {
  font-family: POCOTech-Bold, sans-serif;
}
.poco .f-book {
  font-family: POCOTech-Book, sans-serif;
}
.poco .f-semi {
  font-family: POCOTech-SemiBold, sans-serif;
}
.poco .f-hair {
  font-family: POCOTech-Hairline, sans-serif;
}
.poco .f-medium {
  font-family: POCOTech-Medium, sans-serif;
}
body {
  -webkit-tap-highlight-color: transparent;
  background-color: var(--background-base-variant);
  color: var(--title-dark);
  font-size: 0.75rem;
  line-height: 1.5;
  min-width: 6.666667rem;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
a {
  color: #000;
  text-decoration: none;
}
.slick-slider .slick-list,
.slick-slider .slick-slider,
.slick-slider .slick-track {
  display: block;
}
.slick-slider .slick-slider {
  position: relative;
}
.slick-slider .slick-list {
  overflow: hidden;
}
.slick-slider .slick-slide {
  display: block;
  float: left;
  height: 100%;
  touch-action: pan-y;
}
.slick-slider .slick-dots {
  bottom: 0.333333rem;
  display: flex !important;
  flex-basis: auto;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
.slick-slider .slick-dots li {
  margin: 0 0.104167rem;
  overflow: hidden;
}
.slick-slider .slick-dots li > button {
  border: 0;
  display: block;
  height: 100%;
  width: 100%;
}
.slick-slider .slick-dots li.slick-active > button {
  background-color: #b0b0b0;
}


main {
  font-size: 0.75rem;
}
input,
select,
textarea {
  background-color: var(--background-card-bg);
  border-color: var(--title-dark);
}